@use '../utilities' as *;

.calculator__container {
  @include flex(column, center, center);

  padding: calc(1rem + 0.8vw) calc(1.5rem + 10vw);
  padding-top: calc(8rem - 1vh);
  min-height: 100vh;

  .calculator__title {
    @include muli-text(18px, 600, 24px, 0.7);

    margin-bottom: calc(0.8rem + 1vh);
    color: #00adb5;
  }

  .input {
    background: #222831;
    height: calc(30px + 1.5vw);
    padding: 1.5rem 1rem;
    text-align: right;

    @include muli-text(18px, 700, 32px);

    color: #eee;

    @include flex(row, center, flex-end);

    width: 100%;
  }

  .error {
    background: #222831;
    height: calc(5px + 1.5vw);
    padding: 0.5rem;
    text-align: left;

    @include muli-text(12px, 700, 32px);

    color: #fff;

    @include flex(row, center, flex-end);

    width: 100%;
  }

  .container {
    width: calc(200px + 15vw);
    height: calc(210px + 20vh);

    .row {
      @include flex(row, false, false);

      width: 100%;
    }

    button {
      @include muli-text(14px, 500, 32px);

      flex-basis: 25%;
      height: calc(35px + 5vh);
      background: #eee;
    }

    .white_0 {
      flex-basis: 50%;
      height: calc(35px + 5vh);
    }

    .orange {
      background: #393e46;
      color: #eee;
    }
  }
}
