@use '../utilities' as *;

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: calc(0.6rem + 0.8vw) calc(1.5rem + 10vw);
  background: #222831;

  &__text {
    @include muli-text(10px, 400, 24px);

    color: #eee;
  }

  &__link {
    color: #00adb5;
  }
}
