@use '../utilities' as *;

.navbar {
  position: fixed;
  padding: calc(1rem + 0.8vw) calc(1.5rem + 10vw);
  background: #222831;

  @include flex(row, center, space-between);

  gap: 1rem;
  flex-wrap: wrap;
  width: 100%;

  .logo {
    @include muli-text(16px, 700, 24px, 0.6);
    @include flex(row, center, center);

    gap: 1rem;
    color: #eee;
    width: 100%;

    @media (min-width: 634px) {
      width: auto;
    }
  }

  ul {
    list-style: none;
    width: 100%;

    @include flex(row, center, center);

    @media (min-width: 634px) {
      width: auto;
    }

    li {
      @media (min-width: 634px) {
        margin-top: 0;
      }

      @media (min-width: 978px) {
        margin-right: 0.8rem;
      }

      .link {
        text-decoration: none;
        color: #eee;
        padding: 0.4rem 0.5rem;
        border-radius: 8px;

        @include flex(row, center, center);
        @include muli-text(14px, 400, 24px);

        @media (min-width: 536px) {
          padding: 0.5rem 1rem;
        }

        .hand {
          display: none;
          margin-right: 8px;
          color: #eee;

          @media (min-width: 785px) {
            display: block;
          }
        }
      }

      .active-link {
        background: #00adb5;
      }
    }
  }
}
